<%= form_for @vm, remote: true do |vm| %>
<p>
	<%= vm.label :hostname %>
	<br/>
	<%= vm.text_field :hostname %>
</p>
<p>
	<%= vm.label :number_cpu %>
	<br/>
	<%= vm.text_field :number_cpu, cols: 40, rows: 7 %>
</p>
<p>
	<%= vm.label :ram_mb %>
	<br/>
	<%= vm.text_field :ram_mb, size: 4 %>
</p>
<p>
	<%= vm.label :environment_id %>
	<br/>
	<%= vm.text_field :environment_id %>
</p>
<p>
	<%= vm.submit %>
</p>
<% end %>